.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 8px;

  a, button {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    a span, button span {
      display: none;
    }
  }
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 4px;
}
