<h2 mat-dialog-title>{{ isEdit ? 'Edit Exercise' : 'New Exercise' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Exercice name">
      @if (form.get('name')?.hasError('required')) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Muscle Group</mat-label>
        <input matInput formControlName="muscleGroup" placeholder="e.g. Chest, Legs, Back">
        @if (form.get('muscleGroup')?.hasError('required')) {
          <mat-error>Muscle group is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3" placeholder="Describe the exercise..."></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    {{ isEdit ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>
